frontend/node_modules/
frontend/dist/
frontend/out-tsc/
frontend/.angular/cache/

frontend/.DS_Store
frontend/Thumbs.db

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.vscode/
frontend/.idea/
